*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.header {
    background-color: #001F4D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    height: 100px; 
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.firstul {
    display: flex;
    flex-direction: column-reverse;
    height: 80px;

}

.naviga{
    display: flex;
    flex-wrap: wrap; 
    display: flex;
    align-items: center;


}

.naviga > li{
    list-style-type: none;
    margin: 0px 10px 0px 10px;
    transition: all .1s ease-in;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-image: linear-gradient(to top, #588AC9 50%, #001F4D 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 0.1s ease-in-out;
}
.naviga > li:hover{
    background-position: bottom;
    cursor: pointer;
}

.naviga > li > a {
    text-decoration: none;
    color: #ffffff;
    font-family: AltoSemiBold,Helvetica,Arial,sans-serif;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 10px;
    font-family: Alto,Helvetica,Arial,sans-serif;
    letter-spacing: -0.1px;
    font-weight: bold;
    font-size: smaller;
    height: 40px;
    display: flex;
    align-items: center;
}

/* .naviga > li > a:hover{
    background-color: #588aca;
} */

.secondparthead {
    display: flex;
    position: absolute; 
    right: 0%;
    top: 10%;
}
.secondparthead1{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondparthead1>a{
    text-decoration: none;
    color: #ffffffc7;
    font-size: small;
}
.secondparthead2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 80px;
}
.secondparthead2>button{
    width: 20px;
}
.secondparthead3{
    height: 80px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo{
    position: absolute;
    top:0%;
    left: 1%;
}
.mainimg{
    margin-bottom:  10%;
    height: 80vh;

}


.wilkommen{
    position: absolute;
    top: 45%;
    left: 30%;
    font-size:x-large;
    color: #ffffffd7;
    z-index: 3;
}

.botimgall{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 15%;
    top: 89%;
    z-index: 3;
}
.botimg{
    background-color: #001F4D;
    margin: 0px 30px 0px 30px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    margin: 0px 50px;
}
.botimg>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.botimg:hover{
    transform: scale(1.1);
}  
.both1{
    color: white;
    font-size: x-large;
}

.botimgi1{
    width: 250px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.botimgi2{
    width: 250px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.botimgi3{
    width: 250px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



.mainmain{
    margin-bottom: 221px;
    position: relative;
}
.article{
    width: 40vw;
    margin: 5% auto;
}
.article_img{
    text-align: center;
    margin-bottom: 50px;

}
.article_h2{
    color: #777575;
    text-align: center;
    text-transform: uppercase;

}
.article_p_all{
    color: #777575;
    text-align: left;
    justify-content: center;
}
.article_p_all > p{
    text-align:justify;
}
.fourimg{
    display: flex;
    justify-content: space-between;
    margin: 0px 60px 100px 60px;

}
.fourimg>a{
    text-decoration: none;
}
.fourimgspanandimg{
    position: relative;
}

.fourimgspan{
    position: absolute;
    bottom: 2%;
    left: 20%;
    color:white;
}
.tourplaner{
    width: 40vw;
    margin: 5% auto;
}
.tourplanertext>p>a{
    text-decoration: none;
    color: #588aca;
}
.tourplanertext>p>a:hover{
    text-decoration: underline;
}
.tourplanerimg{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 50px;
}
.tourplanertitle{
    text-align: center;
    vertical-align: middle;
}
.kontakt{
    width: 40vw;
    margin: 5% auto;
}
.kontaktimg{
    text-align: center;
    margin-bottom: 50px;
}
.kontakt>h2{
    color: #777575;
    text-align: center;
    margin-bottom: 50px;
}
.kontakt>p{
    color: #777575;
}
.footer{
    background-color: #001f4d;
    height: 400px;
}
.footerul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    align-items: flex-start;
}
.footerul{
    color: #FFFFFF;
    box-sizing: border-box;

}
.footerul>li{
    padding: 15px;
}
.footerul >.footerli_one>ul> li {
    list-style-type: none;
}
.footerul >.footerli_one>ul> li >a{
    color: white;
    text-decoration: none;
    font-size: small;
    margin-left: -35px;
}
.footerul >.footerli_one>ul> li >a:hover{
    color:cornflowerblue
}
.footerul >.footerli_two>ul> li {
    list-style-type: none;
}
.footerul >.footerli_two>ul> li >a{
    color: white;
    text-decoration: none;
    font-size: small;
    margin-left: -35px;
}
.footerul >.footerli_two>ul> li >a:hover{
    color:cornflowerblue
}
.footerul >.footerli_three>ul> li {
    list-style-type: none;
}
.footerul >.footerli_three>ul> li >a{
    color: white;
    text-decoration: none;
    font-size: small;
    margin-left: -35px;
}
.footerul >.footerli_three>ul> li >a:hover{
    color:cornflowerblue
}
.footerul >.footerli_four>ul> li {
    list-style-type: none;
}
.footerul >.footerli_four>ul> li >a{
    color: white;
    text-decoration: none;
    font-size: small;
    margin-left: -35px;
}
.footerul >.footerli_four>ul> li >a:hover{
    color:rgb(100, 149, 237)
}
/* 
.footerli_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
} 
.footerli_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 212px;
}
.footerli_three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 212px;
}
.footerli_four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 212px;
}
*/
.footerli_five{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 300px;
    box-sizing: content-box;
}  
.footerspan{
    font-weight: 800;
    font-size: smaller;
}


.footerli_five>a{
    margin: 0px 15px 0px 15px;
    border: 3px solid #FFFFFF;
    height: 34px;
    border-radius: 10%;
}
.playstore{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 7%;
}
.playstore>a{
    margin: 0px  10px 0px 10px;
}
.footerdown{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    height: 90px;
}
.footerdown>li{
    margin: 0px 10px 0px 10px;
}
.footerdown>li>a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
}
.footerdown>li>a:hover{
    color: rgb(100, 149, 237);
}